  * {
    box-sizing: border-box;
  }
.page {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.page-pl-pr-60 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding:  0 60px 0 60px;
}